.titulo{
    
    margin-left: 40px;
    margin-top: 40px;
    
}

.izquierda
{
     margin-left: 40px;
    
}


.icon{
    
 margin-top: -80px;
    margin-left: 380px;
}


.ambas{
    
    margin-right: 40px;
    margin-left: 40px;
    
}


.abajo {
    
    margin-bottom: 40px;
    
}